*~
*.[ao]
*.static
*.so
*.lo
*.la
*.so.*
*.pc
Makefile
aclocal.m4
autom4te.cache
stamp-h.in
Makefile.in
configure
config.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
stamp-h
stamp-h1
update.log
m4/*.m4
aclocal.m4
ABOUT-NLS
config.rpath
mkinstalldirs
compile
depcomp
install-sh
missing
libtool
.deps
.libs

# libtool-2 stuff -- temporary added to repository (because libtool-2.x.x is
#                    still not in avaialable in many Linux distributions)
!config/ltmain.sh
!m4/libtool.m4
!m4/ltoptions.m4
!m4/ltsugar.m4
!m4/ltversion.m4
!m4/lt~obsolete.m4

# libuuid depends on AX_TLS macro
!m4/tls.m4
