*~
*.[ao]
*.static
Makefile
aclocal.m4
autom4te.cache
stamp-h.in
Makefile.in
configure
config.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
stamp-h
stamp-h1
update.log
m4
aclocal.m4
ABOUT-NLS
config.rpath
mkinstalldirs
compile
depcomp
install-sh
missing
ltmain.sh
libtool
.deps
