*~
*.[ao]
*.static
*.so
*.lo
*.la
*.so.*
*.pc
Makefile
aclocal.m4
autom4te.cache
stamp-h.in
Makefile.in
configure
config.cache
config.h
config.h.in
config.log
config.guess
config.status
config.sub
stamp-h
stamp-h1
update.log
m4/*.m4
aclocal.m4
ABOUT-NLS
config.rpath
mkinstalldirs
compile
depcomp
install-sh
INSTALL
missing
libtool
cscope.out
tags
.deps
.libs
.tarball-version
.version
config/ltmain.sh

# libuuid depends on AX_TLS macro
!m4/tls.m4

# GTK_DOC_CHECK depends on gtk-doc.m4
!m4/gtk-doc.m4

# util-linux specific macros
!m4/ul.m4
