arch
ctrlaltdel
cytune
dmesg
flock
i386.8
ia64.8
ipcmk
ipcrm
ipcs
ldattach
linux32.8
linux64.8
lscpu
mips32.8
mips64.8
mips.8
parisc32.8
parisc64.8
parisc.8
pivot_root
ppc32.8
ppc64.8
ppc.8
ramsize.8
rdev
readprofile
renice
rootflags.8
rtcwake
s390.8
s390x.8
setarch
setsid
sparc32.8
sparc32bash.8
sparc64.8
sparc.8
switch_root
tunelp
vidmode.8
x86_64.8
