*-decl-list.txt
*-decl.txt
*-overrides.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt
*.args
*.bak
*.hierarchy
*.interfaces
*.prerequisites
*.signals
*.stamp
*.types
html/*
tmpl/*
version.xml
xml/*
